<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<body>
<form  th:action="@{/create-nation}" th:object="${nation}" method="post">
    <table class="table">
        <tr>
            <th scope="col">Tên Quốc Gia</th>
            <th scope="col"><input type="text" th:field="*{nameNation}"/></th>
            <th scope="col" th:errors="*{nameNation}"></th>
        </tr>
<!--        <tr>-->
<!--            <th scope="col" >Diện Tích</th>-->
<!--            <th scope="col"><input type="text" th:field="*{acreage}"/></th>-->
<!--            <th scope="col" th:if="${#fields.hasErrors('acreage')}" th:errors="*{acreage}"></th>-->
<!--        </tr>-->
        <tr>
            <th><input type="submit" value="Create CiTy"></th>
        </tr>
    </table>
</form>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
</body>
</html>